<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<style>
  .search-bar input {
    background-color: white;
    color: #333;
    /* Dark gray text */
  }

  .search-bar button {
    background-color: green;
    /* Green button */
    color: white;
  }

  .search-bar {
    text-align: center;
    color: #555;
    /* Centers the input and button within the search bar */
  }

  .search-bar input,
  .search-bar button {
    width: 100px;
  }

  .book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .book-card {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 10px;
    box-sizing: border-box;
  }

</style>

<div
  class="row align-items-md-stretch"
  style="margin-bottom: 40px; min-height: 300px"
>
  <div class="col-md-12">
    <div
      class="h-100 p-5 rounded-3 position-relative"
      style="
        background-image: url('https://png.pngtree.com/png-vector/20220822/ourmid/pngtree-illustration-of-bookshelves-with-retro-style-books-seamless-reading-wall-vector-png-image_26938484.jpg');
        background-size: cover;
        background-position: center;
      "
    >
      <div
        class="position-absolute top-0 start-0 w-200 h-100"
        style="background-color: rgba(0, 0, 0, 0.3)"
      ></div>
      <div class="position-absolute top-0 start-50 translate-middle-x">
        <div class="text-center">
          <h3 class="text-black">Welcome to E-library</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <!-- Centered column -->
      <div class="search-bar mb-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Search for books..."
            aria-label="Search"
            aria-describedby="basic-addon1"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">Search</button>
          </div>
        </div>
      </div>

      <div class="book-grid row">
        <div class="book-card col-md-4 mb-4">
          <div class="card">
            <img
              src="https://storage.googleapis.com/ltkcms.appspot.com/fs/yd/images/cover/book-genres.base?v=1591896477"
              class="card-img-top"
              alt="Book 1"
            />
            <div class="card-body">
              <h5 class="card-title">Book Genres</h5>
              <p class="card-text">
                There are various book genres to choose from.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="https://microsite-uen-prod.s3.amazonaws.com/media/courseware/lesson/image/Screen_Shot_2021-08-07_at_5.11.03_PM_HpOI4LH.png"
                class="card-img-top"
                alt="Book 1"
              />
              <div class="card-body">
                <h5 class="card-title">Biography</h5>
                <p class="card-text">
                  A biography, or simply bio, is a detailed description of a
                  person's life. It involves more than just basic facts like
                  education, work, relationships, and death; it portrays a
                  person's experience of these life events.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="https://i.pinimg.com/originals/8e/a5/0e/8ea50ef9aa5c7da4f87e88c4a8843bee.jpg"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">History</h5>
                <p class="card-text">
                  History books refer to the record of past events.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="https://thumbs.dreamstime.com/b/movie-genre-icon-logo-sci-fi-space-rocket-world-globe-vector-flat-isolated-symbol-template-cinema-channel-movie-sci-101447468.jpg"
                class="card-img-top"
                alt="Book 2"
              />
              <div class="card-body">
                <h5 class="card-title">Science Fiction</h5>
                <p class="card-text">
                  Science fiction genre deals with imaginative and futuristic
                  concepts.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="https://thumbs.dreamstime.com/b/literary-poetry-book-icon-flat-isolated-vector-illustration-white-background-226983678.jpg"
                class="card-img-top"
                alt="Book 3"
              />
              <div class="card-body">
                <h5 class="card-title">Poetry</h5>
                <p class="card-text">
                  Poetry is a form of literary art that uses aesthetic and
                  rhythmic qualities of language to evoke meanings.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="https://i.etsystatic.com/42711062/r/il/40bb60/4973494419/il_fullxfull.4973494419_3e9m.jpg"
                class="card-img-top"
                alt="Book 3"
              />
              <div class="card-body">
                <h5 class="card-title">Fantasy</h5>
                <p class="card-text">
                  Fantasy is a genre which involves themes of the supernatural,
                  magic, and imaginary worlds and creatures.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="https://th.bing.com/th/id/OIP.HwshRalh8plPCjJMkyRIYQAAAA?rs=1&pid=ImgDetMain"
                class="card-img-top"
                alt="Book 3"
              />
              <div class="card-body">
                <h5 class="card-title">Mystery</h5>
                <p class="card-text">
                  Mystery is a fiction genre where the nature of an event
                  remains mysterious until the end of the story.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
