<form class="col-md-6 offset-md-3" [formGroup]="addBookForm" (ngSubmit)="handleAddBook()">
  <h2 class="mb-4">Add a New Book</h2>

  <!-- ID Field -->
  <div class="form-group row mb-3">
    <label for="idInput" class="col-sm-2 col-form-label">ID</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="idInput"
        placeholder="Enter Book ID"
        formControlName="id"
        [ngClass] = "{
        'is-invalid': addBookForm.get('id')?.touched && addBookForm.get('id')?.invalid
        }"
        required
      />
      <div class="invalid-feedback">
        <div id="idRequired">Id is required</div>
      </div>
    </div>
  </div>

  <!-- Name Field -->
  <div class="form-group row mb-3">
    <label for="titleInput" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="titleInput"
        placeholder="Enter Book Title"
        formControlName="title"
        [ngClass] = "{
              'is-invalid': addBookForm.get('title')?.touched && addBookForm.get('title')?.invalid
            }"
        required
      />
      <div class="invalid-feedback">
        <div id="titleRequired">Title is required</div>
      </div>
    </div>
  </div>

  <!-- Author Field -->
  <div class="form-group row mb-3">
    <label for="authorInput" class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="authorInput"
        placeholder="Enter Author Name"
        formControlName="author"
        [ngClass] = "{
              'is-invalid': addBookForm.get('author')?.touched && addBookForm.get('author')?.invalid
            }"
        required
      />
      <div class="invalid-feedback">
        <div id="authorRequired">Author is required</div>
      </div>
    </div>
  </div>

  <!-- Genre Field -->
  <div class="form-group row mb-3">
    <label for="genreInput" class="col-sm-2 col-form-label">Genre</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="genreInput"
        placeholder="Enter Genre"
        formControlName="genre"
        [ngClass] = "{
              'is-invalid': addBookForm.get('genre')?.touched && addBookForm.get('genre')?.invalid
            }"
        required
      />
      <div class="invalid-feedback">
      <div id="genreRequired">Genre is required</div>
    </div>
    </div>
  </div>

  <!-- Description Field -->
  <div class="form-group row mb-3">
    <label for="descriptionInput" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <textarea
        class="form-control"
        id="descriptionInput"
        rows="3"
        placeholder="Enter Description"
        formControlName="description"
        required
        [ngClass] = "{
              'is-invalid': addBookForm.get('description')?.touched && addBookForm.get('description')?.invalid
            }"
      ></textarea>
      <div class="invalid-feedback">
        <div id="descriptionRequired">Description is required</div>
      </div>
    </div>
  </div>

  <!-- Submit and Back Buttons -->
  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2 d-flex justify-content-start">
      <button type="submit" class="btn me-2 submitBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" [disabled]="addBookForm.invalid || isError">
        Submit
      </button>

      <!-- Submit and Back Buttons -->
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2 d-flex justify-content-start">


          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  Successfully Added!
                </div>
                <div class="modal-footer">
                  <!-- Adding data-bs-dismiss="modal" here to remove the modal overlay -->
                  <button type="button" class="btn" data-bs-dismiss="modal" routerLink="/books">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <button type="button" class="btn" routerLink="/books">
        Back
      </button>
    </div>
  </div>

</form>
