<a routerLink="/employees" class="btn btn-link">Go back</a>
<div class="container">
  <div class="row">
    <div class="card col-md-12">
      <!-- TODO: show loader/spinner here-->
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p>Phone: </p>
        <p>Email: </p>
        <a
          routerLink="edit"
          class="btn btn-primary"
        >
          Edit
        </a>
        <button type="button" class="btn btn-danger">Delete</button>


      </div>
    </div>
  </div>
</div>
