<button type="button" class="btn btn-secondary" routerLink="/books">
  Back
</button>
<div style="margin-top: 10px;"></div>
<div class="album py-5 bg-body-tertiary">
  <h4 style="padding-left: 16px">Book Details: </h4>
  <div class="container">
<div class="container">
  <div class="row">
    <div class="card col-md-4">
      <div class="card-body" style="text-align: center;">
        <p><strong>Title: </strong>{{book.title}} </p>
        <p><strong>Author: </strong>{{book.author}} </p>
        <p><strong>Genre: </strong>{{book.genre}} </p>
        <p><strong>Description: </strong>{{book.description}}</p>
        <button
          routerLink="edit"
          class="btn"
        >
          Edit
      </button>
      &nbsp;
        <button type="button" class="btn"  (click)="showDialog()">Delete</button>
        <p-dialog
          header="Delete Book Details"
          [(visible)]="displayDialog"
          [style]="{ width: '50vw' }"
          modal="true"
          [baseZIndex]="10000"
        >
          <div style="text-align: left">
            <p><strong>Id: </strong>{{bookId}}</p>
            <p><strong>Title: </strong>{{book.title}} </p>
            <p><strong>Author: </strong>{{book.author}} </p>
            <p><strong>Genre: </strong>{{book.genre}} </p>
            <p><strong>Description: </strong>{{book.description}}</p>
          </div>
          <p class="confirmation-message" style="font-weight: bold">
            Are you sure you want to delete this Base Part?
          </p>
          <div class="button-group" style="display: flex; justify-content: center; gap: 1rem;">
            <p-button type="button" (click)="handleDeleteBook()"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">OK</p-button>

            <div class="form-group row">
              <div class="col-sm-10 offset-sm-2 d-flex justify-content-start">

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        Successfully Deleted!
                      </div>
                      <div class="modal-footer">
                        <!-- Adding data-bs-dismiss="modal" here to remove the modal overlay -->
                        <button type="button" class="btn" data-bs-dismiss="modal" routerLink="/books">Ok</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p-button type="button" (click)="hideDialog()" label="Cancel"></p-button>
          </div>
        </p-dialog>



      </div>
    </div>
  </div>
</div>
  </div>
</div>
