<a routerLink="/employees" class="btn btn-link">Go back</a>
<div class="container">
  <div class="row">
    <div class="card col-md-12">
      <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p>
         {{book.description}}
        </p>
        <p>{{book.author}} </p>
        <p>{{book.genre}} </p>
        <a
          routerLink="edit"
          class="btn btn-primary"
        >
          Edit
        </a>
        <button type="button" class="btn btn-danger">Delete</button>


      </div>
    </div>
  </div>
</div>
