<!-- About 5 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="fs-5 mb-2 text-secondary text-uppercase">About</h3>
        <h2 class="display-5 mb-4">Empowering libraries to flourish in the digital age through innovative, secure e-library management systems.</h2>
        <button type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5">Discover More</button>
      </div>
    </div>
  </div>


  <div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <article>
          <div class="card border-0">
            <img class="card-img-top img-fluid m-0" loading="lazy" src="https://cdn.hswstatic.com/gif/libraries-ebooks-orig.jpg" alt="Our Vision">
            <div class="card-body border bg-white p-4">
              <div class="entry-header mb-3">
                <h2 class="card-title entry-title h4 mb-0">
                  <a class="link-dark text-decoration-none" href="#!">Our Vision</a>
                </h2>
              </div>
              <p class="card-text entry-summary text-secondary mb-3">Our e-library vision is to provide seamless access to a rich digital collection, empowering users through a user-friendly and secure platform. We will achieve this through a flexible, scalable approach leveraging cloud technology and prioritizing user experience..</p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-lg-6">
        <article>
          <div class="card border-0">
            <img class="card-img-top img-fluid m-0" loading="lazy" src="https://cdn.hswstatic.com/gif/libraries-ebooks-orig.jpg" alt="Our Approach">
            <div class="card-body border bg-white p-4">
              <div class="entry-header mb-3">
                <h2 class="card-title entry-title h4 mb-0">
                  <a class="link-dark text-decoration-none" href="#!">Our Approach</a>
                </h2>
              </div>
              <p class="card-text entry-summary text-secondary mb-3">To create a user-friendly and easily accessible e-library, we're using cloud technology for flexibility and growth, constantly improving the system based on user feedback.This will involve iterative development and ongoing feedback to meet evolving needs. in other words</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
